@font-face {
  font-family: WildYouth;
  src: url("../fonts/WildYouth.otf") format("opentype");
}

@font-face {
  font-family: AbrilFatFace;
  src: url("../fonts/AbrilFatface.ttf") format("truetype");
}

:root {
  --primary: #d96489;
  --secondary: green;
  --white: #fff;
  --black: #000;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 28px;

  --primary: #9e6381;
  --secondary: #b785a9;
  --tertiary: #673046;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Save the Date hero animation */
.fade1 {
  opacity: 0;
  animation: fadeIn 2s ease-in-out 1s;
  animation-fill-mode: forwards;
}
.fade2 {
  opacity: 0;
  animation: fadeIn 2s ease-in-out 2s;
  animation-fill-mode: forwards;
}
.fade3 {
  opacity: 0;
  animation: fadeIn 2s ease-in-out 3s;
  animation-fill-mode: forwards;
}

/* Date & Location hero animation */
.fadeDown {
  opacity: 0;
  transform: translateY(-40px);
  animation: fadeDown 3s ease-in-out 4s;
  animation-fill-mode: forwards;
}

/* Tagline hero animation */
.fadeUp {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUp 3s ease-in-out 4s;
  animation-fill-mode: forwards;
}

.black {
  color: #000;
}

.purple {
  color: var(--primary);
}
